{% extends 'base.html.twig' %}

{% block title %}Créez votre CV{% endblock %}

{% block body %}
    <div class="container">
        {{ include('.inc/cv/formulaire.html.twig', { 'cv': cv, 'form': form }) }}
    </div>
{% endblock %}
