{% extends 'base.html.twig' %}

{% block title %}Modifiez votre CV{% endblock %}

{% block body %}
    <div class="container">
        {{ include('.inc/cv/edition.html.twig', { 'form': form, 'cv': cv }) }}
        {{ include('.inc/cv/formulaire.html.twig', { 'form': form, 'cv': cv }) }}
    </div>
{% endblock %}
