{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid home-jumbotron">
        <div class="container">
            <h1 class="display-4">CVThèque</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur erat nisl, laoreet eu purus pulvinar, facilisis
                tincidunt nibh.
            </p>
        </div>
    </div>
{% endblock %}
