
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> Netbeans ###
/nbproject/
###< Netbeans ###

###> PHPStorm ###
/.idea/
###< PHPStorm ###

###> Docker ###
/.docker/dockerfiles/database/data
/.docker/dockerfiles/database/import
###< Docker ###

###> npm ###
/node_modules/
###< npm ###

###> Grunt ###
/public/css/*
/public/js/*
/.sass-cache/
###< Grunt ###

###> files ###
/public/media/
/public/fonts/
/templates/themes/*
!/templates/themes/standard/
###< files ###
