<div data-prototype-line>
    <div class="media">
        <div class="media-body">
            <div class="form-group">
                {{ form_widget(form.contenu, { attr: { class: 'ol' } }) }}
                {{ form_errors(form.contenu) }}
            </div>
        </div>
        <button type="button" class="btn btn-danger my-auto ml-3" data-prototype-button-remove>Supprimer</button>
    </div>
</div>
