<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenue | CVThèque</title>
        <link type="text/css" rel="stylesheet" href="{{ asset(cv.theme.getCssPathGlobal()) }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset(cv.theme.getCssPathVisualisation()) }}" />
    </head>
    <body>
        <div class="cv cv-visualisation">
            {{ cv.user.fullName }}
            {{ cv.nom }}
        </div>
    </body>
</html>
