<div data-prototype-container=".missions-container" data-prototype="{{ include(cv.theme.getTemplatePath() ~ '/subform/formulaire-mission.html.twig', { 'form': form.vars.prototype }) | e }}">
    <div class="missions-container">
        {% for missionField in form %}
            {{ include(cv.theme.getTemplatePath() ~ '/subform/formulaire-mission.html.twig', { 'form': missionField }) }}
        {% endfor %}
    </div>
    <button type="button" class="btn btn-default" data-prototype-button-add>Ajouter</button>
</div>
