<div class="media">
    <img class="mx-auto d-block img-fluid" src="{{ cv_avatar(cv) }}" alt="Generic placeholder image" />
    <div class="media-body">
        <div class="container-fluid">
            <div class="form-group">
                {{ form_label(form.avatarPath) }}
                {{ form_widget(form.avatarPath, { attr: { class: 'form-control-file' } }) }}
                {{ form_errors(form.avatarPath) }}
            </div>
        </div>
    </div>
</div>
