
/* Theme : Standard */

html {
    margin: 15px;
}

body {
    line-height: 1;
}

body * {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h1 {
    margin: 0 0 0 10px;
    font-size: 36px !important;
}

h2 {
    font-size: 22px !important;
    margin: 0 0 0 10px;
}

h3 {
    color: #e67e22;
    border-bottom: 2px solid #e67e22;
    font-size: 18px !important;
    margin: 0 0 3px 0;
}

h4 {
    color: #2980b9;
    font-size: 14px !important;
    margin: 0;
}

h5 {
    color: #777777;
    font-style: italic;
    font-size: 12px;
    margin: 0 0 5px 0;
}

.p-1 { padding: 3px; }
.pl-1 { padding-left: 3px; }
.pr-1 { padding-right: 3px; }

.cv-visualisation .header {
    background-color: #e67e22;
    color: white;
    height: 150px;
    padding: 5px;
    margin-bottom: 10px;
}

.cv-visualisation .header img {
    height: 100%;
    width: auto;
    float: left;
}

.cv-visualisation .header-content {
    float: left;
}

.cv-visualisation .body {
    position: relative;
}

.cv-visualisation .sidebar {
    float: left;
    width: 30%;
}

.cv-visualisation .content {
    float: right;
    width: 70%;
}

.cv-visualisation .sidebar img {
    display: block;
    margin: 0 auto;
}

.cv-visualisation .formations h4 {
    color: black;
    font-size: 14px;
}

.cv-visualisation .competences ul {
    padding: 0 0 10px 10px;
    margin: 0;
    list-style-type: none;
}

.cv-visualisation .experiences ul {
    padding: 0 0 10px 10px;
    margin: 0;
    list-style-type: none;
}

.cv-visualisation .experiences li {
    margin-bottom: 3px;
}
