
/* Theme : Standard */

body {
    background-color: #efefef;
    font-family: sans-serif;
}

.cv {
    position: relative;
    background-color: white;
    width: 210mm;
    height: 297mm;
    margin: 1em auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    padding: 2mm;
}

.cv .header {
    background-color: #e67e22;
    color: white;
    height: 50mm;
    padding: 2mm;
}

.cv .header img {
    height: 100%;
    width: auto;
    float: left;
}

.cv .header-content {
    float: left;
}

h1, h2 {
    margin: 1mm;
    margin-left: 3mm;
}

h3 {
    color: #e67e22;
    border-bottom: 2px solid #e67e22;
    margin-left: 0;
    padding-bottom: 1mm;
}

h4 {
    margin: 0 0 1mm 0;
    color: #2980b9;
}

h5 {
    margin: 0 0 1mm 0;
}

.cv .sidebar {
    float: left;
    position: absolute;
    padding: 3mm;
    top: 50mm;
    bottom: 0;
    left: 0;
    right: 150mm;
}

.cv .content {
    float: right;
    position: absolute;
    top: 50mm;
    bottom: 0;
    left: 60mm;
    right: 0;
    padding: 3mm;
}

.cv .sidebar img {
    display: block;
    margin: 0 auto;
}

.cv .competences ul {
    margin: 0 0 3mm 0;
    padding-left: 3mm;
    list-style-type: none;
}
