
/* Theme : Standard */

html {
    margin: 15px;
}

body * {
    font-size: 12px;
}

.cv-visualisation .competences li {
    margin-bottom: 5px;
}

.cv-visualisation .experiences li {
    margin-bottom: 5px;
}
