// Variables

$white: #fff;
$spacer: 1rem;

$primary: #9b59b6;
$secondary: #34495e;
$tertiary: #2c3e50;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 1.5;
$h2-font-size: $font-size-base * 1.4;
$h3-font-size: $font-size-base * 1.3;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1.1;
$h6-font-size: $font-size-base;

// Buttons

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

// Cards

$card-border-radius: 0;
$card-lg-input-btn-padding-y: 2rem;
$card-lg-input-btn-padding-x: 0.5rem;

// Forms

$input-color: $white;
$input-border-radius: 0;
$input-box-shadow: none;
$input-focus-box-shadow: none;
