<table class="table">
    <thead>
        <tr>
            <th>CV</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for cv in user.cvs %}
            <tr>
                <td>{{ cv.nom }}</td>
                <td class="text-right">
                    <a href="{{ path('cv_modifier', {id: cv.id}) }}" class="btn btn-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a href="{{ path('cv_modifier', {id: cv.id}) }}" class="btn btn-primary">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="{{ path('cv_modifier', {id: cv.id}) }}" class="btn btn-primary">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
