<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <img class="mx-auto d-block img-fluid" src="{{ cv_avatar(cv) }}" alt="Generic placeholder image" />
            </div>
        </div>
    </div>
    <div class="col-6">
        <h1>Experiences</h1>
        {% for experience in cv.experiences %}
            
        {% endfor %}
    </div>
    <div class="col-3">
        <h1>Compétences</h1>
    </div>
</div>
