{% block flash %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} m-3">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
