{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                {{ include('.inc/user/informations-generales.html.twig', { 'user': app.user }) }}
            </div>
            <div class="col-7">
                <div class="card">
                    <div class="card-body">
                        {{ include('.inc/user/cv-liste.html.twig', { 'user': app.user }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
